# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entornos virtuales
.venv/
venv/
env/
gripsenv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos y salidas
*.root
*.csv
*.h5
data/
output/

# Editores / SO
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store

# LaTeX
build/
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
